@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-cursive {
  font-family: cursive;
}
.success {
  background-color: #d4edda;
}
.danger {
  background-color: #eb7373;
}
.error {
  background-color: #e9e97f;
}
